
/* --- High Level --- */

body {
    font-family: monospace;
    font-size:   35px;
    background:  #f7f7f7;
    color:       #404040;
}

#wrapper {
    width:   95%;
    margin:  0px auto;
    padding: 0px;
}

#title {
    text-align: center;
    padding:    0px;
    font-size:  80px;
}





/* --- General Purpose --- */

.txt-center { text-align: center; }

.vpad-none {
    padding-top:    0px;
    padding-bottom: 0px;
}

.hpad-none {
    padding-left:  0px;
    padding-right: 0px;
}

.btm-spacer-lg { margin-bottom: 200px; }
.btm-spacer-sm { margin-bottom: 120px; }





/* --- Forms and Buttons --- */

input, select {
    width: 100%;
    box-sizing:  border-box;
    margin:      10px 0px 80px;
    padding:     35px 45px;
    text-align:  center;
    font-size:   60px !important;
    font-family: inherit;
    background:  #ededed;
    color:       inherit;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    -webkit-appearance: none;
}

label {
    padding: 0px;
    margin:  0px 10px;
    color:   #999999;
}

button {
    margin:    30px 15px;
    padding:   30px 40px;
    font-size: 50px;
    font-family: inherit;
    background: #e6e6e6;
    color:      #404040;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
}

.button-grn { background: #8cd98c; }
.button-red { background: #d98c8c; }
.button-blu { background: #8c8cd9; }
.button-ylw { background: #d9d98c; }





/* --- Home --- */

.bucket {
    font-size: 60px;
    color: inherit;
    text-decoration: none;
}

.bucket .bar {
    width: 100%;
    height: 30px;
    background: gray;
    border: 1px solid black;
}

.bucket .bal { float: right; }

.bucket .info {
    font-size: 20px;
}




/* --- Purchases --- */

#purchases table {
    width:  100%;
    margin: 40px auto;
}

#purchases tr { border-bottom: 1px solid #cccccc; }

#purchases td, th {
    padding-top:    25px;
    padding-bottom: 25px;
}

#purchases .amount {
    padding-left:  40px;
    padding-right: 40px;
    text-align:    center;
}

#purchases .date, #purchases .desc {
    padding-left:  0px;
    padding-right: 0px;
}

#purchases .date {
    text-align: right;
}

#purchases p {
    margin: 100px 10px;
    color:  #b3b3b3;
    text-align: center;
    
}











/* Old CSS */




#home {
    position: fixed;
    left: 30px;
	bottom: 30px;
}

#home img {
	height: 100px;
	opacity: 0.5;
}



