body {
    background: #f7f7f7;
	font-family: monospace;
    font-size: 35px;
    color: #262626;
}

.txt-center {
    text-align: center;
}

.vpad-none {
    padding-top:    0px;
    padding-bottom: 0px;
}

.hpad-none {
    padding-left:  0px;
    padding-right: 0px;
}




#purchases table {
    width:  95%;
    margin: 50px auto;
}

#purchases tr { border-bottom: 1px solid #cccccc; }


#purchases td {
    padding-top:    25px;
    padding-bottom: 25px;
}

#purchases .amount {
    padding-left:  40px;
    padding-right: 40px;
    text-align:    center;
}

#purchases .date, #purchases .desc {
    padding-left:  0px;
    padding-right: 0px;
}

#purchases .date {
    text-align: right;
}

#purchases p {
    margin:  80px 10px;
    color: #b3b3b3;
    text-align: center;
    
}





#home {
    position: fixed;
    left: 30px;
	bottom: 30px;
}

#home img {
	height: 100px;
	opacity: 0.5;
}

#wrapper {
    padding-bottom: 300px;
}

#title {
    text-align: center;
    padding: 50px;
    color: #333333;
    font-size: 90px;
}

.bucket {
    position: relative;
    height: 150px;
    border: 3px solid #8c8c8c;
    margin: 5px;
    margin-bottom: 50px;
    background:#f2f2f2;
    border-radius: 15px;
}

.bucket-fill {
    background: repeating-linear-gradient(45deg, #becaf4, #becaf4 20px, #a8b9f0 20px, #a8b9f0 40px);
}


.bucket-label {
    position: absolute;
    height: 100%;
    line-height: 148px;
    font-size: 60px;
    color: #333333;
}

.bucket-name {
    left: 0px;
    padding-left: 25px;
}

.bucket-refill {
    color: #999999;
}

.bucket-balance {
    right: 0px;
    padding-right:25px;
}


.bucket-stats {
    text-align: center;
    font-size: 50px;
}

.form-custom {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
}


.btn-custom {
    width: 500px;
    font-size: 50px;
    padding: 30px;
    color: #f2f2f2;
    border-radius: 15px;
}

.btn-green {
    background: #5cd699 !important;
}

.btn-red {
    background: #9a1818 !important;
}

.btn-blue {
    background: #5c7ad6 !important;
}

.btn-yellow {
    background: #d6d65c !important;
}

.btn-spacer {
    margin-top: 130px;
}

.input-border {
    border: none !important;
    border-bottom: 2px solid #a6a6a6 !important;
    border-radius: 0px !important;
}

.purchase {
    background: #a8b9f0 !important;
}

.input-custom {
    height: 150px;
    font-size: 80px !important;
    padding: 0;
    padding-top: 5px;
    width: 100%;
    background:#f2f2f2;
    margin-top: 50px;
    text-align: center;
    border: none;
    border-radius: 15px;
    color: #4770eb;
    -webkit-appearance: none;
}


.select-custom {
    height: 150px !important;
    font-size: 80px !important;
    padding: 0;
    padding-top: 5px;
    width: 100%;
    background:#f2f2f2;
    margin-top: 50px;
    text-align: center !important;
    border: none;
    border-radius: 15px;
	color: #4770eb;
	text-size-adjust: none;
    -webkit-appearance: none !important;
}

.input-custom:focus {
    background:#f2f2f2 !important;
    color: #4770eb;
    border: none;
    border-bottom: 5px solid #cccccc !important;
    border-radius: 0px !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


.input-label {
    font-size: 45px;
    margin-left: 10px;
    color: #a6a6a6;
}


@media (min-width: 768px) {}


@media (min-width: 992px) {
    #wrapper {
        width: 500px;
    }

    #title {
        padding: 30px;
        font-size: 35px;
    }

    .bucket {
        height: 50px;
        margin-bottom: 25px;
        border: 2px solid #8c8c8c;
        border-radius: 5px;
    }

    .bucket-fill {
        background: repeating-linear-gradient(45deg, #becaf4, #becaf4 7px, #a8b9f0 7px, #a8b9f0 14px);
    }

    .bucket-label {
        line-height: 48px;
        font-size: 18px;
    }

    .bucket-name {
        padding-left: 10px;
    }
    
    .bucket-balance {
        padding-right:10px;
    }

    .button {
        height: 50px;
        line-height: 48px;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
    }
}