{% extends 'layout.html' %}

{% block body %}
    <div id='backup'>
        <table id='backup-table'>
            <tr>
                <th>Name</th>
                <th>Refill</th>
                <th>Size</th>
                <th>Balance</th>
                <th>Del</th>
            </tr>

            {% for bucket in buckets %}
                <tr>
                    <td>{{ bucket.name }}</td>
                    <td>{{ bucket.refill }}</td>
                    <td>{{ bucket.size }}</td>
                    <td>{{ bucket.balance }}</td>
                    <td style='color: #e87d7d;'>{% if bucket.deleted %}&#9679;{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class='txt-center btm-spacer-sm controls'>
        <a href='restore' ><button class='button-red'>Restore</button></a>
    </div>
{% endblock %}