{% extends 'layout.html' %}

{% block body %}
	<div class='row justify-content-center'>
		<div class='col-2 bucket-stats'>{{ bucket.balance }}</div>
		<div class='col-2 bucket-stats'>{{ bucket.refill }}</div>
		<div class='col-2 bucket-stats'>{{ bucket.size }}</div>
	</div>

	<form action='' method='post' class='form form-custom'>
		<div class='form-group'>
            <input name='amount' type='number' class='form-control input-custom input-border' step='1'>
            <label class='input-label'>Amount</label>
		</div>

		<div class='form-group'>
            <input name='desc' type='text' class='form-control input-custom input-border'>
            <label class='input-label'>Description</label>
		</div>

		<div class='text-center btn-spacer'>
			<button name='submit' type='submit' class='btn btn-custom btn-green'>Spend</button>
		</div>
	</form>

	<div class='row justify-content-center'>
        <div class='text-center col-4'><a class='btn btn-custom btn-blue' href='{{ bucket.id }}/edit'>Edit</a></div>
        <div class='text-center col-4'><a class='btn btn-custom btn-red' href='{{ bucket.id }}/delete'>Delete</a></div>
	</div>	
{% endblock %}