{% extends 'layout.html' %}

{% block body %}
	<form action='' method='post' class='form form-custom'>
		<div class='form-group'>
            <input name='amount' type='number' class='form-control input-custom input-border' step='1' required>
            <label class='input-label'>Amount</label>
		</div>

		<div class='form-group'>
            <input name='desc' type='text' class='form-control input-custom input-border'>
            <label class='input-label'>Description</label>
		</div>

		<div class='form-group'>
			<select name='day' class='form-control select-custom input-border'>
				{% for day in days %}
					<option value='{{day.value}}'>{{day.display}}</option>
				{% endfor %}
			</select>
			<label class='input-label'>Day</label>
		</div>

		<div class='form-group'>
			<select name='time' class='form-control select-custom input-border'>
				{% for time in times %}
					<option value='{{time.value}}'>{{time.display}}</option>
				{% endfor %}
			</select>
			<label class='input-label'>Time</label>
		</div>
		
		<div class='row btn-spacer'>
			<div class='text-center col'><button name='submit' type='submit' class='btn btn-custom btn-green'>Spend</button></div>
		</div>
	</form>

	<div class='row btn-spacer'>
		<div class='text-center col'><a class='btn btn-custom btn-blue' href='{{ bucket.id }}/edit'>Edit</a></div>
	</div>

	<div class='row mt-5'>
		<div class='text-center col'><a class='btn btn-custom btn-red' href='{{ bucket.id }}/delete'>Delete</a></div>
	</div>
{% endblock %}