{% extends 'layout.html' %}

{% block body %}
    <form action='' method='post' class='form form-custom'>
        <div class='form-group'>
            <input name='name' type='text' class='form-control input-custom input-border' 
                {% if bucket %}    
                    value='{{ bucket.name }}'
                {% endif %}
            >
            <label class='input-label'>Name</label>
        </div>

        <div class='form-group'>
            <input name='refill' type='number' class='form-control input-custom input-border' min='0' step='1' 
                {% if bucket %}
                    value='{{ bucket.refill }}'
                {% endif %}
            >
            <label class='input-label'>Refill</label>
        </div>

        <div class='form-group'>
            <input name='size' type='number' class='form-control input-custom input-border' min='0' step='1' 
                {% if bucket %}
                    value='{{ bucket.size }}'
                {% endif %}
            >
            <label class='input-label'>Size</label>
        </div>
        
        <div class='text-center btn-spacer'>
            <button name='submit' type='submit' class='btn btn-custom btn-green'>Save</button>
        </div>
    </form>
{% endblock %}