{% extends 'layout.html' %}

{% block body %}

    {% for bucket in buckets %}
        <a class = 'bucket' href='buckets/{{ bucket.id }}'>
            <div>
                <span class='name'>{{ bucket['name'] }}</span>
                <span class='bal' >{{ bucket['balance'] }}</span>
            </div>

            <div class='bar'><div class='available'></div>

            <div>
                <span>Refill: {{ bucket['refill'] }} Size: {{ bucket['size'] }} Outlook: {{ bucket['outlook'] }}</span>
            </div>
        </a>
    {% endfor %}

    <div class='txt-center'>
        <a href='purchases'     ><button class='button-grn'>Purchases</button></a>
        <a href='buckets/refill'><button class='button-ylw'>Refill</button></a>
        <a href='transfer'      ><button class='button-blu'>Transfer</button></a>
        <a href='buckets/new'   ><button class='button-blu'>New</button></a>
    </div>

{% endblock %}