{% extends 'layout.html' %}

{% block body %}

    {% for envelope in envelopes %}
        <a href='buckets/{{ envelope.id }}'>
            <div>
                <span class='name'>{{ envelope.name }}</span>
                <span class='bal' >{{ envelope.balance | int }}</span>
            </div>

            <div>
                <div class='avail'></div><div class='spent'></div>
            </div>

            <div>
                <span>Refill: {{ bucket.refill }} Size: {{ bucket.size }}</span>
                <span>{{ bucket.balance + bucket.refill }}</span>
            </div>
        </a>
    {% endfor %}

    <div class='txt-center'>
        <a href='purchases'     ><button class='button-grn'>Purchases</button></a>
        <a href='buckets/refill'><button class='button-ylw'>Refill</button></a>
        <a href='transfer'      ><button class='button-blu'>Transfer</button></a>
        <a href='buckets/new'   ><button class='button-blu'>New</button></a>
    </div>

{% endblock %}