{% extends 'layout.html' %}

{% block body %}
    <div id='purchases'>
        <table>
            {% for purchase in purchases %}
                <tr>
                    <td class='date'  >{{ purchase.date.strftime('%m/%d %I:%M%p')[:-1].lower() }}</td>
                    <td class='amount'>{{ purchase.amount }}</td>
                    <td class='desc'  >{{ purchase.desc|truncate(20) }}</td>
                </tr>
            {% endfor %}
        </table>

        <p>Showing last 100 purchases</p>
    </div>
{% endblock %}