{% extends 'layout.html' %}

{% block body %}
	<script>
		window.onload = function() {
			var now    = new Date();
			var offset = now.getTimezoneOffset();
			console.log(offset);
		}
	</script>

	{% for purchase in purchases %}
		<div class='row'>
			<div class='col'>{{ purchase.date.strftime('%d %b %-I:%M%p') }}</div>
			<div class='col'>{{ purchase.amount }}</div>
			<div class='col'>{{ purchase.bucket.name }}</div>
		</div>
		
		<div class='row mb-5'>
			<div class='col'>{{ purchase.desc }}</div>
		</div>
	{% endfor %}
{% endblock %}