{% extends 'layout.html' %}

{% block body %}
    <form action='' method='post'>

        <label>From</label>
        <select name='from'>
            {% for bucket in buckets %}
                <option value='{{bucket.id}}'>{{ bucket.name }} [{{ bucket.balance }}]</option>
            {% endfor %}
        </select>

        <label>To</label>
        <select name='to'>
            {% for bucket in buckets %}
                <option value='{{ bucket.id }}'>{{ bucket.name }} [{{ bucket.balance }}]</option>
            {% endfor %}
        </select>
            
        <label class='input-label'>Amount</label>
        <input name='amount' type='number' min='1' step='1'>

        <div class='txt-center'><button name='submit' type='submit' value='0' class='button-grn'>Transfer</button></div>

    </form>	
{% endblock %}